<%- @products.each_slice(4) do |slice| %>
  <div class='row'>
    <%- slice.each do |product| %>
      <div class='col-xs-12 col-sm-6 col-md-3'>
        <div class='well'>
          <% if product.files %>
            <% if file = @products.included.find('files', product.files.first.id) %>
              <%= image_tag file.href %>
            <% end %>
          <% end %>
          <br/>
          <%= link_to product.name, product_path(product.id) %>
          <br/><br/>
          <div class='row'>
            <div class='col-xs-12'>
              <%= link_to add_carts_path(product_id: product.id), method: :post, class: 'btn btn-primary' do %>
                <%= "Add To Cart (#{money(product.price.first)})" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= render 'shared/pagination', page: @page %>
